:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}



.main {

  max-width: 70vw;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, minmax(10vh, auto));

  place-items: center;
  gap: 1rem;
}

.title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.form {
  grid-column: 1 / 4;
  grid-row: 2 / 4;

  width: 100%;
  max-height: 100%;

}

.graph {
  background-color: orangered;
  grid-column: 1 / 4;
  grid-row: 4 / 7;

  width: 100%;
  height: 100%;
}

.summary {
  background-color: rgb(26, 26, 124);
  grid-column: 1 / 4;
  grid-row: 7 / 9;

  width: 100%;
  height: 100%;
}

@media(min-width: 768px) {
  .title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .form {
    grid-column: 3 / 4;
    grid-row: 1 / 6;

  }

  .graph {
    background-color: orangered;
    grid-column: 1 / 3;
    grid-row: 2 / 6;
  }

  .summary {
    background-color: rgb(26, 26, 124);
    grid-column: 1 / 4;
    grid-row: 6 / 9;
  }
}

/* FORMULARIO */

.first-selection {
  display: flex;
  justify-content: space-around;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}


.inputs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input[type="number"] {
  max-width: 2rem;

}

.curl-right,
.curl-left {


  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}